.place__text {
    margin: 0;
    margin-left: 16px;
    margin-right: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
    grid-row-gap: 25px;
}
  
@media screen and (min-width: 768px) {
    .place__text {
        margin: 0;
        grid-row-gap: 25px;
        grid-column: 2;
    }
}
  
